@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cream {
    background-color: #f9eac8;
}

.text-display {
    font-family: 'Playfair Display', serif;
}

.Topline {
    color: #ea6c32;
    font-size: 1.7rem;
    padding-top: 4.5rem;
    padding-left: 4.5rem;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 0.5rem;
}
.Heading {
    margin-bottom: 24px;
    padding-bottom: 3rem;
    font-size: 4.5rem;
    padding-left: 4.5rem;
    letter-spacing: -.15rem;
    font-family: 'Playfair Display',serif;
    font-weight: 600;
    color: #454342;
}

@media screen and (max-width: 600px) {
    .Heading {
        padding-left: 2rem;
        font-size: 2.5rem;
    }
    .Topline {
        padding-left: 2rem;
		font-size: 1.4rem;
    }
}
@media screen and (min-width: 768px) {
    .Heading {
        padding-left: 2rem;
    }
    .Topline {
        padding-left: 2rem;
    }
    
}