

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1300px;
  font-family: 'Inconsolata', monospace;
}
html {
  background-color: #454342;
}
a {
  letter-spacing: 1px;
}
p {
  line-height: 28px;
}